<h1>MOVIES</h1>

<div class="movies-grid">
    <% allMovies.forEach(movie => { %>
        <div class="movie-card">
            <img src="<%- movie.image %>" alt="poster from: <%- movie.title %>">
            <p class="center"><%- movie.title %></p>
            <a class="center" href="#">See more</a>
        </div>
        <% }); %>
</div>

    