<div>
    <div>
        <img src="<%- movie.image %>" alt="poster from: <%- movie.title %>">
    </div>
    <div>
        <a href="/movies">Go back</a>
        <h1><% movie.title %> </h1>
        <h2><% movie.director %> </h2>
    </div>
</div>